# Ignore system files
.DS_Store
**/.DS_Store

# Ignore .vs and build artifacts everywhere
**/.vs/
**/bin/
**/obj/

# Python environment
.venv/
__pycache__/

*.pem
Day 35 - 20.06.2025/
Day 35 - 20.06.2025/Take away.txt
Day 36 - 23.06.2025/Take_away.txt