
button {
  background-color: #e0e0e0;
  border: 1px solid #75d8f1;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  color: rgb(81, 81, 81);
  
}
input {
  width: 100%;
  padding: 10px;
  border: 1px solid #75d8f1;
  border-radius: 5px;
  box-sizing: border-box;
}