.products-container {
  display: flex;
  justify-content: center; /* Center the row items */
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  animation: fadeIn 1.5s ease-in-out;
  width: 100%;
  box-sizing: border-box;
}

app-product {
  flex: 0 1 calc(33.33% - 20px); 
  max-width: 300px;
  box-sizing: border-box;
}


.loading-container {
  text-align: center;
  margin: 20px 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
